@model Actividad5LengProg3.Models.Carrera

<h2>Registrar Carrera</h2>

<form asp-action="Crear" method="post" class="w-75 mx-auto">
    <div class="form-group mb-3">
        <label>Código</label>
        <input asp-for="Codigo" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label>Cantidad de Créditos</label>
        <input asp-for="CantidadCreditos" class="form-control" type="number" />
    </div>
    <div class="form-group mb-3">
        <label>Cantidad de Materias</label>
        <input asp-for="CantidadMaterias" class="form-control" type="number" />
    </div>
    <button class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
